<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>@</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	
<!--
  

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="css/fontawesome.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
    <link rel="stylesheet" href="css/owl.css">
  </head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

      <!-- Main -->
        <div id="main">
          <div class="inner">

            <!-- Header -->
            <header id="header">
              <div class="logo">
                <a href="#">Millibot</a>
              </div>
            </header>

            <!-- Banner -->
            <section class="simple-post">
              <div class="container-fluid">
                  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSevvTpGUbQOT7Cj4GbGGhOCr1EMMpSvrZx5DDtl2D1kKOaItw/viewform?embedded=true" width="80%" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
            </section>

          </div>
        </div>

      <!-- Sidebar -->
        <div id="sidebar">

          <div class="inner">

            <!-- Search Box -->
            <section id="search" class="alt">
              <form method="get" action="#">
                <input type="text" name="search" id="search" placeholder="Search..." />
              </form>
            </section>
              
            <!-- Menu -->
            <nav id="menu">
              <ul>
                <li>
                  <span class="opener">Status Fields</span>
                  <ul>
                    <li><a href="#">First Sub Menu</a></li>
                    <li><a href="#">Second Sub Menu</a></li>
                    <li><a href="#">Third Sub Menu</a></li>
                  </ul>
                </li>
                <li>
                  <span class="opener">Edit Fields</span>
                  <ul>
                    <li><a href="#">Sub Menu #1</a></li>
                    <li><a href="#">Sub Menu #2</a></li>
                    <li><a href="#">Sub Menu #3</a></li>
                  </ul>
                </li>
                <li><a href="indey.html">Homepage(sample)</a></li>
                <li><a href="simple_page.html">Simple Page</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
                <!--<li><a href="https://www.google.com">External Link</a></li>-->
              </ul>
            </nav>

<!-- Footer -->
            <footer id="footer">
              <p class="copyright">Copyright &copy; #
              <br>Designed by <a rel="nofollow" href="#">#</a></p>
            </footer>

          </div>
        </div>
    </div>

<!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/transition.js"></script>
    <script src="js/owl-carousel.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>
