/app/Console
/app/Exceptions
/app/Http/Middleware
/app/Http/Kernel.php
/app/Models
/app/Providers
/bootstrap
/config
/node_modules
/public/hot
/public/storage
/resources/css
/resources/js
/resources/lang
/storage
/storage/*.key
/tests
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
